## **In this notebook we will map the PostCodes with the Geospatial data**

In [10]:
#importing required libraries
import pandas as pd
import data.table

ModuleNotFoundError: No module named 'data'

In [12]:
#read the geospatial data
geo=pd.read_csv('Geospatial_Coordinates.csv')
geo.columns=['PostCode','Latitude','Longitude']
geo.head()

  PostCode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [11]:
#read cleaned Toronto Data created in previous section
df_post=pd.read_csv('Toronto Neighborhood.csv')
df_post.head()

  PostCode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [15]:
#Merging both datasets
df=pd.merge(df_post, geo, on='PostCode')
df.head()

,PostCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [16]:
#write the final table to csv
df.to_csv('Toronto Neighborhood with Geospatial.csv',index=False)