# **In this Jupyter Notebook, we will cover the segmenting and clustering of neighborhoods in Toronto**

*Step1: Scrapping the table of Neighborhoods from Wikipedia page*

In [60]:
#importing required libraries
import pandas as pd
import numpy as np

In [59]:
link="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(link)[0]
df = df.iloc[1:]
df.columns=['PostCode','Borough','Neighborhood']
#df

In [47]:
# deleting the rows with non-assigned Boroughs
df_final = df[df.Borough != 'Not assigned']
df_final=pd.DataFrame(df_final.reset_index(drop=True))
df_final.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
PostCode        210 non-null object
Borough         210 non-null object
Neighborhood    210 non-null object
dtypes: object(3)
memory usage: 5.0+ KB

In [48]:
df_final.head()

  PostCode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [49]:
# Combining more than one neighborhood that exists in a PostCode
df_final=df_final.groupby(['PostCode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df_final.head()

  PostCode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [50]:
#Checking for PostCodes with 'Not Assigned' Neighborhood. Check to understand & determine the handling criteria
x=df_final[df_final.Neighborhood=='Not assigned']
x

   PostCode       Borough  Neighborhood
93      M9A  Queen's Park  Not assigned

In [56]:
# Handling PostCode with 'Not Assigned' Neighborhood
df_final.loc[df_final['Neighborhood'] =='Not assigned', 'Neighborhood'] = df_final['Borough']
df_final[df_final['PostCode']=='M9A']#check to confirm the handling patch

   PostCode       Borough  Neighborhood
93      M9A  Queen's Park  Queen's Park

In [62]:
#Checking the shape of the final cleaned dataset
np.shape(df_final)

(103, 3)

In [68]:
#renaming the dataset
df_postcode=df_final
df_postcode.head()

  PostCode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [69]:
#write the final table to csv
df_postcode.to_csv('Toronto Neighborhood.csv',index=False)